/web/bundles/
/web/upload
!/web/upload/images/post/default.jpg
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!app/build/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/web/config.php
