{% extends "LKEUserBundle::layout.html.twig" %}

{%- block content_title -%}
    {{ parent() }} -
    <a class="waves-effect waves-light btn orange btn-large" href="{{ url('fos_user_profile_edit') }}">
        {{ 'lkeuser.profile.edit'|trans }}
    </a>
{%- endblock -%}

{% block body %}
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock body %}
